#sidebar {
position:absolute;
top:0px;
right:0px;
width:300px;
background: rgba(206, 206, 206, 0.53);
font-family: monospace;
}

line {
    stroke:#999;
    stroke-width: 2.5px;
}
line:hover {
    stroke-width: 3px;
    stroke: #000;
}

rect {
    fill: #efefef;
    stroke-width: 1.5px;
    stroke: #cbcbcb;
    display: none;
}
rect:hover {
    fill: #e0e0e0;
    stroke:#6d6d6d;
}

circle {
    fill: #efefef;
    stroke-width: 1.5px;
    stroke: #cbcbcb;
}

circle:hover {
    fill: #e0e0e0;
    stroke: #6d6d6d;
}

text {
    font-family:monospace;
    display: none;
}

.fixed circle {
	display:none;
}
.fixed rect {
	display: block;
}
.fixed text {
    display: block;
}
